= form_for @other_facility, html: {class: 'ui form'} do |f|   
  .field
    = f.label :name, 'Name:'
    = f.text_field :name, placeholder: 'Other facility name'
    = errors_list_for(@other_facility, :name)
  .ui.buttons
    = link_to 'Cancel', other_facilities_path, class: 'ui button'
    .or
    = f.submit 'Save', class: "ui positive button"