- breadcrumb :other_facilities
.ui.centered.grid
  .four.wide.column
    .ui.header
      Listing other_facilities
.row
  .four.wide.column
  .four.wide.column= link_to '+New Other facility', new_other_facility_path, class: 'ui primary button'
.row  
  .four.wide.column
  .eight.wide.column
    %table.ui.padded.collapsing.table
      %thead
        %tr
          %th S.no
          %th Name
          %th.center.aligned Options

      %tbody
        - i = 0
        - @other_facilities.each do |other_facility|
          %tr
            %td= i += 1
            %td= other_facility.name
            %td
              .ui.tiny.compact.buttons
                = link_to 'Show', other_facility, class: 'compact ui button primary'
                = link_to 'Edit', edit_other_facility_path(other_facility), class: 'compact ui button'
                = link_to 'Destroy', other_facility, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'compact ui negative button'
.ui.divider