- breadcrumb @other_facility
.ui.centered.grid
  .twelve.wide.column
    .ui.three.column.grid.segment
      .row
        .three.column.wide
          .ui.header=@other_facility.name
      .column.ui.basic.horizontal.segment
        .ui.list
          .item
            %i.ui.top.aligned.building.outline.icon
            .content
              .header Other facility Details
              .list
                .item
                  %i.right.triangle.icon
                  = "Name: #{@other_facility.name}"
                .item
                  %i.right.triangle.icon
                  = "Alias:}"
      .column.ui.basic.horizontal.segment
        .ui.list
          .item
            %i.info.circle.icon.top.aligned
            .content
              .header Professional details
              .list
                .item
                  %i.right.triangle.icon
                  = "Doctors with this diagnostic_facility: "
                .item
                  %i.right.triangle.icon
                  diagnostic_facility: Nephrologist
                .item
                  %i.right.triangle.icon
                  Experience:years
                .item
                  %i.right.triangle.icon
                  RBMIS Verified: Yes
      .column.ui.basic.horizontal.segment
        .ui.list
          .item
            %i.top.aligned.options.icon
            .content
              .header Options
              .list
                .item
                  .tiny.basic.ui.buttons
                    = link_to 'Back', other_facilities_path, class: 'ui button'
                    = link_to 'Edit', edit_other_facility_path(@other_facility), class: 'ui button'
                    = link_to 'Delete', @other_facility, method: :delete, data: { :confirm => 'Are you sure?' }, class: 'ui button'
      .ui.divider
