- breadcrumb :treatment_categories
.ui.centered.grid
  .three.wide.column
    .ui.header
      Listing treatment_categories
.row
  .four.wide.column
  .four.wide.column= link_to '+New Treatment Category', new_treatment_category_path, class: 'ui button primary'
.row  
  .four.wide.column
  .twelve.wide.column
    %table.ui.padded.collapsing.table
      %thead
        %tr
          %th S.no
          %th Name
          %th.center.aligned Options

      %tbody
        - i = 0
        - @treatment_categories.each do |treatment_category|
          %tr
            %td= i += 1
            %td= treatment_category.name
            %td
              .ui.buttons
                = link_to 'Show', treatment_category, class: 'compact ui button primary'
                = link_to 'Edit', edit_treatment_category_path(treatment_category), class: 'compact ui button'
                = link_to 'Delete', treatment_category, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'compact ui negative button'
  .ui.divider