- breadcrumb :diagnostic_facilities
.ui.centered.grid
  .four.wide.column
    .ui.header
      Listing Diagnostic facilities
.row
  .four.wide.column
  .four.wide.column= link_to '+New Diagnostic facility', new_diagnostic_facility_path, class: 'ui button primary'
.row  
  .four.wide.column
  .eight.wide.column
    %table.ui.padded.collapsing.table
      %thead
        %tr
          %th S.no
          %th Name
          %th.center.aligned Options

      %tbody
        - i = 0
        - @diagnostic_facilities.each do |diagnostic_facility|
          %tr
            %td= i += 1
            %td= diagnostic_facility.name
            %td
              .ui.compact.buttons
                = link_to 'Show', diagnostic_facility, class: 'compact ui button primary'
                = link_to 'Edit', edit_diagnostic_facility_path(diagnostic_facility), class: 'compact ui button'
                = link_to 'Delete', diagnostic_facility, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'compact ui negative button'
.ui.divider