- breadcrumb @medical_equipment
.ui.centered.grid
  .twelve.wide.column
    .ui.three.column.grid.segment
      .row
        .three.column.wide
          .ui.header= @medical_equipment.name
      .column.ui.basic.horizontal.segment
        .ui.list
          .item
            %i.ui.top.aligned.building.outline.icon
            .content
              .header Diagnostic facility Details
              .list
                .item
                  %i.right.triangle.icon
                  = "Name: #{@medical_equipment.name}"
                .item
                  %i.right.triangle.icon
                  = "Alias:}"
      .column.ui.basic.horizontal.segment
        .ui.list
          .item
            %i.info.circle.icon.top.aligned
            .content
              .header Professional details
              .list
                .item
                  %i.right.triangle.icon
                  = "Doctors with this medical_equipment: "
                .item
                  %i.right.triangle.icon
                  medical_equipment: Nephrologist
                .item
                  %i.right.triangle.icon
                  Experience:years
                .item
                  %i.right.triangle.icon
                  RBMIS Verified: Yes
      .column.ui.basic.horizontal.segment
        .ui.list
          .item
            %i.top.aligned.options.icon
            .content
              .header Options
              .list
                .item
                  .tiny.basic.ui.buttons
                    = link_to 'Back', medical_equipments_path, class: 'ui button'
                    = link_to 'Edit', edit_medical_equipment_path(@medical_equipment), class: 'ui button'
                    = link_to 'Delete', @medical_equipment, method: :delete, data: { :confirm => 'Are you sure?' }, class: 'ui button'
      .ui.divider