- breadcrumb @hospital_category
.ui.centered.grid
  .twelve.wide.column
    .ui.three.column.grid.segment
      .row
        .three.column.wide
          .ui.header
            = @hospital_category.name
      .column.ui.basic.horizontal.segment
        .ui.list
          .item
            %i.ui.top.aligned.building.outline.icon
            .content
              .header hospital_category Details
              .list
                .item
                  %i.right.triangle.icon
                  = "Name: #{@hospital_category.name}"
      .column.ui.basic.horizontal.segment
        .ui.list
          .item
            %i.info.circle.icon.top.aligned
            .content
              .header Professional details
              .list
                .item
                  %i.right.triangle.icon
                  = "Total Doctors: #{Doctor.count}"
                .item
                  %i.right.triangle.icon
                  = "Total Hospitals: #{Hospital.count}"
                .item
                  %i.right.triangle.icon
                  Experience:years
                .item
                  %i.right.triangle.icon
                  RBMIS Verified: Yes
      .column.ui.basic.horizontal.segment
        .ui.list
          .item
            %i.top.aligned.options.icon
            .content
              .header Options
              .list
                .item
                  .tiny.basic.ui.vertical.buttons
                    = link_to '+New category', new_hospital_category_path, class: 'ui button'
                    = link_to 'Back', hospital_categories_path, class: 'ui button'
                    = link_to 'Edit', edit_hospital_category_path(@hospital_category), class: 'ui button'
                    = link_to 'Delete', @hospital_category, method: :delete, data: { :confirm => 'Are you sure?' }, class: 'ui button'
      .ui.divider