%p#notice= notice

%p
  %b Hospital:
  = @schedule.hospital
%p
  %b Doctor:
  = @schedule.doctor
%p
  %b Sunday morning from:
  = @schedule.sunday_morning_from
%p
  %b Sunday morning to:
  = @schedule.sunday_morning_to
%p
  %b Sunday noon from:
  = @schedule.sunday_noon_from
%p
  %b Sunday noon to:
  = @schedule.sunday_noon_to
%p
  %b Monday morning from:
  = @schedule.monday_morning_from
%p
  %b Monday morning to:
  = @schedule.monday_morning_to
%p
  %b Monday noon from:
  = @schedule.monday_noon_from
%p
  %b Monday noon to:
  = @schedule.monday_noon_to
%p
  %b Tuesday morning from:
  = @schedule.tuesday_morning_from
%p
  %b Tuesday morning to:
  = @schedule.tuesday_morning_to
%p
  %b Tuesday noon from:
  = @schedule.tuesday_noon_from
%p
  %b Tuesday noon to:
  = @schedule.tuesday_noon_to
%p
  %b Wednesday morning from:
  = @schedule.wednesday_morning_from
%p
  %b Wednesday morning to:
  = @schedule.wednesday_morning_to
%p
  %b Wednesday noon from:
  = @schedule.wednesday_noon_from
%p
  %b Wednesday noon to:
  = @schedule.wednesday_noon_to
%p
  %b Thursday morning from:
  = @schedule.thursday_morning_from
%p
  %b Thursday morning to:
  = @schedule.thursday_morning_to
%p
  %b Thursday noon from:
  = @schedule.thursday_noon_from
%p
  %b Thursday noon to:
  = @schedule.thursday_noon_to
%p
  %b Friday morning from:
  = @schedule.friday_morning_from
%p
  %b Friday morning to:
  = @schedule.friday_morning_to
%p
  %b Friday noon from:
  = @schedule.friday_noon_from
%p
  %b Friday noon to:
  = @schedule.friday_noon_to
%p
  %b Saturday morning from:
  = @schedule.saturday_morning_from
%p
  %b Saturday morning to:
  = @schedule.saturday_morning_to
%p
  %b Saturday noon from:
  = @schedule.saturday_noon_from
%p
  %b Saturday noon to:
  = @schedule.saturday_noon_to

= link_to 'Edit', edit_schedule_path(@schedule)
\|
= link_to 'Back', schedules_path
