.ui.middle.aligned.center.aligned.grid
  .column.admin-login-form
    %h2.ui.teal.header Change your password
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'ui large form' }) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token
      .ui.stacked.segment
        .field
          .ui.left.icon.input
            %i.user.icon
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            = f.password_field :password, autofocus: true, autocomplete: "off", :placeholder => 'New Password'
        .field
          .ui.left.icon.input
            %i.lock.icon
            = f.password_field :password_confirmation, autocomplete: "off", :placeholder => 'Confirm Password'

        = f.submit "Change my password", class: 'ui fluid large teal submit button' 
        .column.left.aligned
          = render "admins/shared/links"
