.ui.middle.aligned.center.aligned.grid
  .column.admin-login-form
    %h2.ui.teal.header Forgot your password?
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'ui large form' }) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token
      .ui.stacked.segment
        .field
          .ui.left.icon.input
            %i.user.icon
            = f.email_field :email, autofocus: true, :placeholder => "E-mail address"
        = f.submit "Send me reset password instructions", class: 'ui fluid large teal submit button' 
        .column.left.aligned
          = render "admins/shared/links"
