- breadcrumb :country_state, @country, @state 
.ui.centered.grid
  .twelve.wide.column
    .ui.three.column.grid.segment
      .row
        .three.column.wide
          .ui.header= @state.name
      .column.ui.basic.horizontal.segment
        .ui.list
          .item
            %i.ui.top.aligned.building.outline.icon
            .content
              .header State Details
              .list
                .item
                  %i.right.triangle.icon
                  = "Name: #{@state.name}"
                .item
                  %i.right.triangle.icon
                  = "Country: #{@country.name }"
      .column.ui.basic.horizontal.segment
        .ui.list
          .item
            %i.info.circle.icon.top.aligned
            .content
              .header Professional details
              .list
                .item
                  %i.right.triangle.icon
                  = "Doctors with this state: #{Doctor.count}"
                .item
                  %i.right.triangle.icon
                  state: Nephrologist
                .item
                  %i.right.triangle.icon
                  Experience:years
                .item
                  %i.right.triangle.icon
                  RBMIS Verified: Yes
      .column.ui.basic.horizontal.segment
        .ui.list
          .item
            %i.top.aligned.options.icon
            .content
              .header Options
              .list
                .item
                  .tiny.basic.ui.buttons
                    = link_to 'Back', country_states_path(@country), class: 'ui button'
                    = link_to 'Edit', edit_country_state_path(@country, @state), class: 'ui button'
                    = link_to 'Delete', country_state_path(@country, @state), method: :delete, data: { :confirm => 'Are you sure?' }, class: 'ui button'
      .ui.divider